  @font-face {
    font-family: genshin;
    src: url(../fonts/zh-cn.ttf);
  }
  html {
    cursor:url("https://i.imgur.com/5HurJos.png"), progress;
  }
  /* Navigation */
  #moss {
    opacity: 1.0;
  }

  #moss:hover {
    opacity: 0.8;
    cursor:url("https://i.imgur.com/LJnlq2d.png"), progress;
  }

  #egg {
    cursor:url("https://i.imgur.com/LJnlq2d.png"), progress;
  }

  .sidenav {
    height: 82px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 10px;
    z-index: 1;
    font-family: genshin;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    align-items: center;
    font-size: 25px;
    color: #818181;
    display: inline-block;
  }

  .sidenav a.link:hover {
    color: #f1f1f1;
    cursor:url("https://i.imgur.com/LJnlq2d.png"), progress;
  }

  .sidenav a.name:hover {
    color: #818181;
    cursor:url("https://i.imgur.com/5HurJos.png"), progress;
  }
  /* For Small Screens */
  .sidenav button {
    padding: 6px 0px 6px 14px;
    text-decoration: none;
    align-items: center;
    font-size: 25px;
    color: #818181;
    background-color: #111;
  }

  .dropbtn:hover, .dropbtn:focus {
    color: #666;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #262626;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #666;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropbtn {
    border: none;
  }

  .dropdown a:hover {
    background-color: #424242;
  }

  .show {
    display: block;
  }

  @media only screen and (max-width: 671px) {
    .sidenav a.name {display: none;}
    .sidenav a.link {display: none;}
    .dropdown {display: inline-block;}
  }

  @media only screen and (min-width: 672px) {
    .sidenav a.name {display: inline-block;}
    .sidenav a.link {display: inline-block;}
    div.dropdown, button.dropbtn, a.dropdown-content {display: none;}
  }

  /*sub */

  .sub {
    margin-top: 82px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    position: relative;
  }

  img {
    height: auto;
    max-width: 100%;
    z-index: 0;
    user-select: none;
    pointer-events: none
  }

  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f700ff;
    font-family: Comic Sans MS, Comic Sans, cursive;
  }

  #container {
    height: 100vh;
  }

  #mover {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 100px;
    height: 100px;
  }

  #mover:hover {
    cursor:url("https://i.imgur.com/LJnlq2d.png"), progress;
  }
/* button */
  .container {
    width: 50vw;
    height: 100vh;
    position: absolute;
    display:flex;
    top: 0vh;
    left: 25vw;
    justify-content: center;
    -webkit-animation: hat 2s infinite;
    animation: hat 2s infinite;
  }


  .outer {
    width: 100vw;
    height: 100vh;
    position:relative;
    -webkit-animation: bgcolor 1s infinite;
    animation: bgcolor 1s infinite;
    overflow:hidden;

  }

  .text {
    font-family: Impact, fantasy;
    border: 3px;
    border-style: solid;
    border-color: red;
    position: absolute;
    width: 30vw;
    height:30vh;
    background-color: #e28bafab;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .count {
    border: 3px;
    border-style: solid;
    border-color: red;
    position: absolute;
    width: 10vw;
    -webkit-animation: count 1s infinite;
    animation: count 1s infinite;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .cat {
    top:0;
    left:6.25vw;
    height:100vh;
    width:93.75vw;
    overflow: hidden;
    position:relative;
    z-index:1;
  }

  .kit2, .kit4 {
    right:6.25vw;
  }

  .cat img.kit1 {
    animation: cat 1.5s infinite;
    overflow: hidden;
    position:relative;
    z-index:1;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

  .cat img.kit2 {
    animation: cat 1.25s infinite;
    visibility: hidden;
    animation-delay: 0.5s;
    overflow: hidden;
    position:relative;
    z-index:1;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

  .cat img.kit3 {
    animation: cat2 1.15s infinite;
    visibility: hidden;
    animation-delay: 0.5s;
    overflow: hidden;
    position:relative;
    z-index:1;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

  .cat img.kit4 {
    animation: cat2 1.35s infinite;
    visibility: hidden;
    overflow: hidden;
    position:relative;
    z-index:1;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

  @keyframes cat {
    0% {
        visibility: visible;
        top:100vh;
        transform: scaleX(-1);
    }

    40% {
        transform: scaleX(-1);
    }

    49.99% {
        transform: scaleX(-1);
    }

    50% {
        top:45vh;
        transform: scaleX(0);
    }

    50.01% {
        transform: scaleX(1);
    }

    60% {
        transform: scaleX(1);
    }

    100% {
        top:100vh;
        transform: scaleX(1);
    }
  }

  @keyframes cat2 {
    0% {
        visibility: visible;
        top:-55vh;
        transform: scaleX(-1);
    }

    40% {
        transform: scaleX(-1);
    }

    49.99% {
        transform: scaleX(-1);
    }

    50% {
        top:5vh;
        transform: scaleX(0);
    }

    50.01% {
        transform: scaleX(1);

    }

    60% {
        transform: scaleX(1);

    }

    100% {
        top:-65vh;
        transform: scaleX(1);
    }
  }


  @keyframes hat {
    0% {
        background-color: #45a3e5;
    }

    20% {
        background-color: #66bf39;
    }

    40% {
        background-color: #eb670f;
    }

    60% {
        background-color: #f35;
    }

    80% {
        background-color: #864cbf;
    }

    100% {
        background-color: #45a3e5;
    }
  }

  @keyframes bgcolor {
    0% {
        background-color: #9100ff66;
    }

    20% {
        background-color: #d800ff99;
    }

    40% {
        background-color: #fff704;
    }

    60% {
        background-color: #00adff;
    }

    80% {
        background-color: #00ff14;
    }

    100% {
        background-color: #9100ff66;
    }
  }

  @keyframes count {
    0% {
        background-color: #45a3e588;
        border-color: red;
    }

    20% {
        background-color: #66bf3977;
        border-color: #3e7a8e;
    }

    40% {
        background-color: #eb670f44;
        border-color: Magenta;
    }

    60% {
        background-color: #ff335582;
        border-color: aquamarine;
    }

    80% {
        background-color: #864cbfa8;
        border-color: goldenrod;
    }

    100% {
        background-color: #45a3e594;
        border-color: red;
    }
  }
