/* Global */
@font-face {
    font-family: "genshin";
    src: url("../fonts/zh-cn.woff2");
}
@font-face {
    font-family: "flappy";
    src: url("../fonts/font.ttf");

}
body{
    font-family: cursive;
    font-size: 1em;
    margin:0;
}
.main {
    margin-top: 92px;
    background:#f4f4f4;
    font-family: 'Average Sans', sans-serif;

}
/* Navigation */
.sidenav {
    font-family: genshin;
    height: 82px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 10px;
    cursor:default;
    z-index: 9;
    display:flex;
    align-items: center;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    align-items: center;
    font-size: 25px;
    color: #818181;
    display: inline-block;
}

/* For Small Screens */
@media only screen and (max-width: 800px) {
    .sidenav a.name {display: none;}
    .sidenav a.link {display: none;}
    .dropdown {display: inline-block;}
    #moss2{display: inline-block;}
}

@media only screen and (min-width: 801px) {
    .sidenav a.name {display: inline-block;}
    .sidenav a.link {display: inline-block;}
    div.dropdown, button.dropbtn, a.dropdown-content {display: none;}
    #moss2{display: none;}
}
@media only screen and (max-width: 890px) {
    .resume ul{flex-wrap: wrap;}
}
@media only screen and (min-width: 891px) {
    .resume ul{flex-wrap: nowrap;}
}
/* Index */
.index{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
    top: 92px;
    height: calc(100vh - 92px);
    padding: 0 5.5em 0 5.5em;
}
.index a{
    text-decoration:none;
    color:black;
    height:auto
}
.index .section{
    position: relative;
    background: rgb(255, 255, 255);
    width: 50vw;
    height: 10em;
    border-radius: 3em;
}
.index .section .background{
    width: 50vw;
    height: 10em;
    border-radius: 3em;

}
.index .section .text{
    position: absolute;
    font-size: 2em;
    top: 50%;
    left: 50%;
    width: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #000000;
    z-index: 2;

}
.index .s1 .background{
    background-image: url(../images/Backdrop.png);
    background-position-x: center;
    background-position-y: center;
    background-size: 150%;
    opacity:50%
}
.index .s2 .background{
    background-color: #000000;
}
.index .s2 .text{
    color:white;
    font-family: flappy;
}
.index .s3 .background{
    background-image: url(../images/rit.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: 101%;
}
.index .section:hover{
    transform: scale(1.05);
}
